* {
    padding: 0;
    margin: 0;
}
body {
    font-family:  'Mulish', sans-serif;
    background-color: #FFFFFF;
    overflow-x: hidden;
}
header {
    padding-top: 20px;
}
.navbar a {
    font-size: 18px;
    line-height: 23px;
    font-family: 'Mulish', sans-serif;
    color: #7D7987;
}
.navbar-brand img {
    width: 160px;
    height: 41px;
    top: 56px;
    padding-left: 10%;
}
.one {
    display: flex;
    width: 50%;
    margin-top: 100px;
    margin-bottom: 10px;
    justify-content: space-between;
}
.care {
    margin-top: 0;
    margin-left: 12%;
    padding-bottom: 20px;
    width: 65%
}
.illustration {    
    padding-left: 12%;
}
.illustration img {
    position: absolute;
    right: 5.5%;
    width: 40%;
    top: 15%;
}
.care h1 {
    font-family: 'Mulish', sans-serif;
    font-weight: 900;
    font-size: 55px;
    line-height: 56px;
    color: #000000;
    margin-bottom: 30px;
}
.care button {
    font-family: 'Mulish', sans-serif;
    margin-top: 40px;
    width: 200px;
    font-weight: bold;
    height: 56px;
    border-radius: 55px;
    font-size: 20px;
    line-height: 26px;
    background: #458FF6;
    color: #FFFFFF;
}
.care p {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;
    color: #7D7987;
}
.two {
    text-align: center;
    margin-top: 100px;
}
.serv {
    width: 70%;
    margin-left: 15%;
}
.two h3 {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 56px;
    color: #000000;
}
.two p {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;    
    text-align: center;
    color: #7D7987;
}
.three {
    background-image: url(img/cardbg.png);
    background-repeat: no-repeat;
    margin-top: 50px;
    background-size: contain;
}
.dotty3 {
    padding-left: 66%;
    margin-top: -32%;
}
.three .row {
    display: flex;
    justify-content: space-evenly;
    margin-right: 4%;
}
.card {
    background: #FFFFFF;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    width: 120%;
    height: 87%; 
    margin-top: 40px;
}
.card-title {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 56px;
    color: #000000;
}
.card-text {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #7D7987;
}
.three .card-body {
    margin-top: 5px;
}
.three button {
    border: 1.4px solid #458FF6;
    width: 200px;
    height: 56px;
    border-radius: 55px;
    margin-top: 50px;
    margin-left: 43%;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
}
.four {
    margin-top: 100px;  
    display: flex;
    margin-bottom: 10px;
    text-align: left;
    flex-direction: row-reverse;
}
.providers {
    width: 50%;  
    padding-bottom: 20px;
    margin-top: 0;
    margin-left: 18%;
}
.providers h4 {
    font-family: 'Mulish', sans-serif;
    font-weight: 900;
    font-size: 55px;
    line-height: 56px;
    color: #000000;
    margin-bottom: 10px;
}
.illustrations {    
    padding-left: 5%;
}
.illustrations img {
    width: 120%;
    position: relative;
    bottom: 9.49%;
}
.providers p {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;
    color: #7D7987;
    padding-right: 15%;
}
.providers button {
    box-sizing: border-box;
    border-radius: 55px;
    width: 200px;
    height: 56px;
}
.five {
    display: flex;
    width: 90%;
    margin-top: 100px;
    margin-bottom: 50px;
    align-items: center;
    justify-content: space-between;
}
.app {
    margin-top: 0;
    margin-left: 8%;
    width: 445px;
    height: 338px;
}
.app h4 {
    font-family: 'Mulish', sans-serif;
    font-weight: 900;
    font-size: 55px;
    line-height: 56px;
    color: #000000;
    margin-bottom: 10px;
}
.app p {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;
    color: #7D7987;
}
.app button{
    box-sizing: border-box;
    border-radius: 55px;
    width: 200px;
    height: 56px;
}
.illustration3 {    
    padding-left: 18%;
    padding-bottom: 30%;
}
.illustration3 img {
    width: 100%;
}
.six {
    margin-top: 50px;
}
.six .card {
    width: 80%;
    margin: auto;
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    border-radius: 24px;
}
.six .card-title {
    color: #FFFFFF;
    display: block;
    align-items: center;
    text-align: center;
}
.card-body {
    margin-top: -70px;
}
.cardim {
    margin-left: 1032px;
    margin-top: -15px;
}
.cardb {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 50px;
}
.cardb p {
    width: 420px;
    height: 120px;
    font-family: 'Mulish', sans-serif;
    color: rgba(255, 255, 255, 0.9);
    font-size: 19px;
    line-height: 30px;
    font-weight: normal;

}
body > main > section.six > div > div > div.cardb > h2 {
    width: 150px;
    height: 96px;
    font-family: 'Mulish', sans-serif;
    color: rgba(255, 255, 255, 0.9);
}
.cardb img {
    border-radius: 65px;
    margin-left: 100px;
    margin-right: 50px;
}
.arrow {
    margin-left: 35%;
    margin-top: 25px;
}
.seven {
    height: 810px;
    margin-top: 100px;
    background-image: url(img/element.png);
    background-repeat: no-repeat;
    background-position: right;
}
.dotty2 {
    margin-bottom: -320px;
    margin-left: -98%;
}
.card-deck {
    margin-top: 50px;
}
.card-deck .card {
    text-align: left;
    margin-top: 200px;
}
.card-deck img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.seven .out {
    align-items: center;
    text-align: center;
}
.out h4 {
    font-family: 'Mulish', sans-serif;
    line-height: 56px;
    font-size: 36px;
    font-weight: bold;
}
.seven h5 {
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    font-size: 21px;
    line-height: 32px;
    color: #000000;
}
.seven .card-body {
    margin-top: 10px;
}
.card-deck .card-text {
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #7D7987;
    margin-top: 10px;
}
.viewbtn button{
    font-family: 'Mulish', sans-serif;
    width: 200px;
    height: 56px;
    border-radius: 55px;
    margin-top: 100px;
}
.text-muted {
    font-family: 'Mulish', sans-serif;
    font-size: 15px;
    line-height: 28px;
    color: #4089ED;
}
.eight {
    width: 100%;
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    color: #FFFFFF;
    font-family: 'Mulish', sans-serif;
    margin-top: 200px;
}
.footer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.footerimg {
    margin-top: 325px;
    margin-left: -165px;
}
.tra {
    display: flex;    
    font-size: 20px;
    font-weight: bold;
    font-family: 'Mulish', sans-serif;
}
.tee {
    width: 30px;
    height: 30px;    
    border-radius: 50%;
    background: #FFFFFF;
    color: #5B9BF3;
    padding-left: 9px;
}
.footer li {
    list-style-type: none;
}
.traf {
    width: 391px;
    height: 201px;
    margin-top: 130px;
}
.gar p {
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
}
.company {
    padding-top: 130px;
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
}
.region {
    padding-top: 130px;
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
}
.help {
    padding-top: 130px;
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
}
.eight a {
    height: 152px;
    text-decoration: none;
    color: #FFFFFF;
}
@media (min-width:481px) and (max-width:786px) {
    body {
        width: 100vw;
    }
    .navbar-brand {
        margin-right: 10px;
    }
    .navbar-brand img {
        margin-left: 50px;
        margin-right: 100px;
    }
    .one {
        display: flex;
        width: 50%;
        margin-top: 50px;
        margin-bottom: 10px;
        align-items: center;
        justify-content: space-between;
    }
    .care {
        margin-top: 0;
        margin-left: 5%;
        width: 245px;
        height: 338px;
        padding-bottom: 10px;
    }
    .illustration img {    
        width: 493px;
        height: 398px;
    }
}
@media (min-width:320px) and (max-width:480px) {
    
}